 /* * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        } */

      
        /* CONTENU */
        .container {
            width: 90%;
            margin: auto;
            padding: 30px 0;
        }

        h1, h2 {
            color: #222;
        }

        p {
            color: #555;
            max-width: 800px;
        }

        /* SERVICES */
        .services {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            margin-bottom: 40px;
        }

        .service {
            background: white;
            padding: 15px;
            border-radius: 6px;
            text-align: center;
            font-weight: bold;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        /* HOTELS */
        .hotel {
            background: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .hotel h3 {
            margin: 0;
        }

        .note {
            color: #27ae60;
            font-weight: bold;
        }

        .prix {
            font-size: 22px;
            font-weight: bold;
            color: #e67e22;
        }

        /* FOOTER */
        footer {
            background: #000;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 40px;
        }