*{
  margin:0; 
  padding: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color:rgb(204, 196, 196);
  height: 50px;
  padding: 10px;

}
.logo{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: 0px;
    padding: 8px;
   
   
}
nav{
    display: flex;
    padding: 20px;
    background-color: rgb(204, 196, 196);
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.nav ul li a {
    font-size: 22px;
    text-decoration: none;
    color:  #fff ;
     text-decoration-line: none;
    justify-content: space-between;
    color:  #fff ;
    font-size: 20px;
    cursor: pointer;
    bottom: 1px solid black;
  }

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    text-decoration: none;
    justify-content: space-between;
}
.checkbtn{
    display: none;
}
#check{
    display: none;
}

@media screen and (max-width: 767px) {
  
   .checkbtn {
    display: block; /* Affiche l’icône hamburger */
  }

   nav ul {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 80px);
    background-color: rgb(204, 196, 196);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  nav ul li {
    margin: 20px 0;
  }

  nav ul li a {
    font-size: 22px;
    text-decoration: none;
    color:  #fff ;
  }

  /* Quand le menu est ouvert */
  #check:checked ~ ul {
    transform: translateX(0);
  }
  header{
    display: flex;
    justify-content: space-between;
    background-color:rgb(204, 196, 196);
  }
}




  

