/* RESET */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

 body {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
                url("photo-1577806293.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #d4af37;
    font-size: 36px;
    margin-top: 90px; 
    padding: 25px 0;
    text-align: center;
}



.error {
    color: #ffffff;             
    background-color: #e74c3c;    
    padding: 12px;
    width: 380px;
    margin: 20px auto 0;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}





/* FORMULAIRE */
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form {
    background: rgba(255,255,255,0.97);
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

/* LABELS ET INPUTS */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: none;       /* supprime la bordure */
    border-radius: 6px; /* garde l’arrondi */
    background-color: #f0f0f0; /* couleur de fond légère pour contraste */
}



/* BOUTON */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #d4af37;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-lien{
     width: 100%;
    padding: 8px;
    background-color: #d4af37;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-profil{
     background: rgba(255,255,255,0.97);
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    height: 200px;
    

}


