/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY */
body {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
                url("photo-1577806293.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    padding: 25px 0;
    text-align: center;

}

header h1 {
    color: #d4af37;
    font-size: 36px;
    margin-top: 90px;
}

.error {
    color: #ffffff;              /* texte blanc */
    background-color: #e74c3c;    /* rouge vif */
    padding: 12px;
    width: 380px;
    margin: 20px auto 0;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 5px 15px white;
}

.success {
    padding: 12px;
    width: 380px;
    margin: 20px auto 0;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(209, 8, 8, 0.4);
}

/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM */
form {
    background: rgba(255,255,255,0.97);
    width: 380px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    margin-bottom: 80px;
}
.account {
    margin-top: 30px;
    text-align: center;
}

.account a {
    color: #ffd700;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}


/* INPUTS */
label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 11px;
    margin: 10px 0 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTON */
input[type="submit"] {
    width: 100%;
    padding: 13px;
    background-color: #d4af37;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}



/* FOOTER */


